 Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
settings.py
settings.py.save
settings.pyy
db.sqlite3
db.sqlite3-journal
media


# Virtual environment folders
.env/
.venv/
env/
venv/
.virtualenv/
.env

#dir
campaigntemplates/
crmlog/
log_systemlogs/
merchantlogo/
voucherpdf/

#powershell files
.ps1

#migration files
wajecrm/migrations/*.py
!wajecrm/migrations/__init__.py


