 Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
settings.py
settings.py.save
settings.pyy
db.sqlite3
db.sqlite3-journal



# Virtual environment folders
.env/
.venv/
env/
venv/
.virtualenv/
.env
giftenv/

#dir
campaigntemplates/
crmlog/
log_systemlogs/


#powershell files
.ps1

#migration files
wajecrm/migrations/*.py
!wajecrm/migrations/__init__.py

#vs code
.vscode/


